// Color
$bg_color             : #F6F6F6;
$title_text_color     : #555555;
$headline_text_color  : #F73161;
$text_color           : #333333;
$text_color_highlight         : rgba(51, 51, 51, 0.6);
$header_bg_color              : rgba(104, 212, 41, 0.95);
$header_text_color            : rgba(249, 249, 249, 0.9);
$header_text_color_highlight  : rgba(255, 255, 255, 1);
$cell_bg_color                : rgba(230, 230, 230, 0.3);
$cell_border_color            : rgba(200, 200, 200, 0.5);
$shadow_color                 : rgba(128, 128, 128, 0.5);

// Geometry
$header_height: 25px;
$header_height_desktop: 40px;
$logo_font_size: 12pt;
$logo_font_size_desktop: 18pt;

@if $is_chinese == true {
  $default_font_size: 14pt;
  $default_font_size_desktop: 16pt;
}@else{
  $default_font_size: 16pt;
  $default_font_size_desktop: 18pt;
}

$cell_font_size: 12pt;
$cell_line_height: 14pt;
$break_point: 500px;

@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400);

@if $is_chinese == true {
  @font-face {
    font-family: 'wt011';
    src: url("wt011.woff") format('woff');
  }
}

@import "_reset";

@mixin simple_transition($duration) {
  -o-transition: $duration;
  -ms-transition: $duration;
  -moz-transition: $duration;
  -webkit-transition: $duration;
  transition: $duration;
}

@mixin disable_select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  position: relative;
  @include simple_transition(0.2s);
}

a:hover {
  color: $text_color_highlight;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $header_bg_color;
  color: $header_text_color;
  width: 100%;
  overflow: auto;

  a:hover {
    color: $header_text_color_highlight;
  }

  .logo {
    @include disable_select();
    font-family: 'Quicksand',sans-serif;
    line-height: $header_height;
    padding-left: $default_font_size;
    font-size: $logo_font_size;
    
    @media only screen and (min-width: $break_point) {
      float: left;
      font-size: $logo_font_size_desktop;
      padding-left: $default_font_size_desktop;
      line-height: $header_height_desktop;
    }
  }

  .menu-icon {
    @include disable_select();
    position: absolute;
    right: 0.5em;
    top: 5px;
    cursor: pointer;
    box-sizing: border-box;
    width: 17px;
    height: 15px;
    background: linear-gradient($header_text_color, $header_text_color 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, $header_text_color 40%, $header_text_color 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, $header_text_color 80%, $header_text_color 100%);
    
    @media only screen and (min-width: $break_point) {
      display: none;
    }
  }

  .menu-icon:hover {
    background: linear-gradient($header_text_color_highlight, $header_text_color_highlight 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, $header_text_color_highlight 40%, $header_text_color_highlight 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, $header_text_color_highlight 80%, $header_text_color_highlight 100%);
  }

  nav {
    @include disable_select();
    display: none;
    
    @media only screen and (min-width: $break_point) {
      display: block;
      float: right;
      padding-right: 1em;
    }
    
    a:hover:before {
      position: absolute;
      left: -0.5em;
      content: "»";
    }
  }

  nav ul {
    border-top: 1px solid $header_text_color_highlight;
    padding-top: 10px;
    
    @media only screen and (min-width: $break_point) {
      border: 0;
      padding-top: 0;
    }
  }

  nav ul li {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18pt;
    line-height: 26pt;
    @media only screen and (min-width: $break_point) {
      margin-bottom: 0px;
      font-size: 14pt;
      float: left;
      line-height: $header_height_desktop;
      margin-left: 1em;
    }
  }
}

.article_header {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  margin-top: $header_height;
  
  @media only screen and (min-width: $break_point) {
    margin-top: $header_height_desktop;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h1 {
    color: $title_text_color;
    font-family: 'Raleway','wt011',sans-serif;
    font-size: 22pt;
    
    @media only screen and (min-width: $break_point) {
      text-align: center;
      font-size: 32pt;
    }
  }

  time {
    display: block;
    color: $text_color;
    margin-top: 0.5em;
    font-size: 14pt;
    
    @media only screen and (min-width: $break_point) {
      text-align: center;
    }
  }
}

article {
  max-width: 800px;
  line-height: 1.4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;

  @media only screen and (min-width: $break_point) {
    line-height: 1.5em;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway','wt011',sans-serif;
    margin-bottom: 0.5em;
    color: $headline_text_color;
    line-height: 1.2em;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 21pt;
  }

  h4 {
    font-size: 20pt;
  }

  h5 {
    font-size: 19pt;
  }

  h6 {
    font-size: 18pt;
  }

  img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    box-shadow: 3px 3px 15px $shadow_color;
  }

  p,pre {
    margin-bottom: 1.5em;
  }

  pre,code {
    font-family: 'Courier New',monospace;
    font-size: $cell_font_size;
    overflow: scroll;
  }

  pre {
    line-height: $cell_line_height;
    border: 1px solid $cell_border_color;
    padding: 1em;
    background-color: $cell_bg_color;
  }

  code {
    vertical-align: middle;
  }

  >table {
    margin: 0 auto;
    font-size: $cell_font_size;
    line-height: $cell_line_height;
    margin-bottom: 1em;
    text-align: center;
  }

  >table thead {
    font-family: 'Raleway','wt011',sans-serif;
    background-color: $cell_bg_color;
  }

  >table td {
    padding: 0.25em 0.5em;
    border: 1px solid $cell_border_color;
  }

}

footer {
  font-size: 10pt;
  padding: 1.6em;
  text-align:center;
}

#disqus_thread {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em;
}

.gist {
  font-size: 10pt;
  line-height: $cell_font_size;
}

.has-jax {
  font-size: 18pt;
  line-height: 1;
}
